# Ignore models folder completely
models/

# Ignore Windows zone identifier junk files
*Zone.Identifier

# Ignore duplicate numbered files
*(1).png
*(2).png

# Ignore notebooks if not needed
notebooks/

# Ignore local src
src_local/

# Python cache
__pycache__/
*.pyc

# Environment
.env
venv/

# Dataset
dataset/